html{scroll-behavior: smooth}

body{
    margin: 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    }
    
    /* Estilos Header  navbar */
    .header-nav  {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        position: fixed;
        left:0;
        top:0;
        width:100%; 
        height:100px ;       
        background-color:rgb(0, 0, 0);
        background-attachment: fixed;
        z-index: 20;
        box-shadow: 0 0 5px 0 white;
        
    }

    .header-nav img{
      border-radius: 100%;
      width: 10%;
      animation-name: Escalar;
      animation-duration: 5s;
      animation-iteration-count: infinite; 
         
    }
    nav { width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .NavBarlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align:center;
        width: 70%;
        list-style: none;
        padding: 10 px;
        margin:0 px;        
    }

    .NavBarlist .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}

.NavBarlist .link .a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
   }

 .NavBarlist .link:hover{
    color:rgb(53, 189, 223);
    text-decoration: underline;
    transition: all;
    font-weight:bolder;
}

    /* Estilos botones contactanos */
    .boton-contactanos{
        background-color: #535355;
        color: white;
        font-size: 12px;
        outline: 0;
        border: 0;
        margin-left: 5%;
        width: 90%;
        height: 30px;
        border-radius: 20px;
        box-shadow: 0px 2px 3px 2px #afafb1;
        min-width: 100px;
        text-align: auto;
     }
    .boton-contactanos:hover{
        background-color:  #f1ecd8;
        cursor: pointer;
        color:rgb(53, 189, 223);
        text-transform: uppercase;
        transform: scale(1.1);
    }
 /*  Fin Estilos Header  navbar */
  
   /* Estilos Main */
   .main{
    padding-top: 30px;
    background-image: linear-gradient(rgb(248, 245, 245) 30%, rgb(49, 47, 47) 70%); 
 
   }
    
     body h1{
        text-align: center;
        font-size: 3.5em;
        color: rgb(64, 151, 209);
        margin: 80 0 0 0;
        /* font-family: 'Pacifico', cursive; */
        /* font-family: 'Roboto', sans-serif; */
        font-family: 'Roboto Slab', serif;
        }
        
        /* body h2{
            margin: 0px;
            color: rgb(31, 44, 99);
            font-size: 2em;
            text-align: center;
        } */

        /* Estilos Subtitulo  */

/*  Le agregamos al span al subtitulo  un position para acomodar el before y el after
    Además, le ponemos los mismos estilos que tiene el h1 correspondientes al color de la letra para que los tome*/
    .main h2 span {
        position: relative;
        background: linear-gradient(to top, #30cfd0, #c43ad6);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text; 
      }
       
      /*Creamos y posicionamos el before y el after. Recordar que sin la propiedad content el before y after no funcionan*/
      .main h2 span::before,
      .main h2 span::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
      }
      
      /*Esto es para que las letras vayan apareciendo de a poco
        Los steps tienen que coincidir con la cantidad de letras del subtitulo en este caso.*/
       .main h2 span::before {
        /* background-color: var(--background); */
        color: rgb(31, 44, 99);
        /*animacion - duración - delay - animation-function - forwards para que se quede en el final*/
        animation: typewriter 3.5s 1.5s steps(19) forwards; 
      }
      
      /*Esto es para la barrita de escritura y que la misma se vaya moviendo junto con las letras que aparecen.*/
       .main h2 span::after {
        width: 0.1rem;
        background: linear-gradient(to top, #30cfd0, #c43ad6);
        animation: typewriter 3.5s 1.5s steps(19) forwards,
          blink 0.8s steps(6) infinite;
      } 
  /* Fin Estilos Subtitulo */

        /* Estilos Section Carrousel */

       .section-carrucel{
        height:60vh;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 90px;
       }

        .container-carrousel{
           position: relative;
           width: 98%;
           height: 100%;
           background-color: #e0e0e0;
           box-shadow: 0 8px 32px 0 rgba(0,0,0,0.66);
           border-radius: 15px;
           overflow: hidden;
        }

        .carrousel {
            width: 800%;
            height: 100%;
            display: flex;
        }

        .slider-section{
            width: calc(100% / 8);
            height: 100%;
        }

        .slider-section img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
                   
         .btn-left i, 
        .btn-right i {
            display: flex;
            position: absolute;
            top: 50%;
            font-size: 1.5rem;
            background-color: transparent;
            border-radius: 50%;
            padding: 5px;
            font-weight: 600;
            cursor: pointer;
            color: #635b5b;
            transform: translate(0,-50%);
            transition: .5s ease;
            user-select: none;
        }

        .btn-left i:hover,
        .btn-right i:hover{
            background-color:#333333d4;
            color: #fff;
        }

        .btn-left i{
            left:10px;
        }

        .btn-right i{
            right: 10px;
        } 

       

    /* Estilos Seccion Contactanos */

    .section-contactanos{
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;

        --opacity: 0;
        --pointer: none;

        opacity: var(--opacity);
        pointer-events: var(--pointer);
        transition: opacity .5s;
    }

    .section-contactanos:target{
        --opacity:1;
        --pointer: unset;
     }

    .section-contactanos:target .container-contactanos{
        animation: show 1s .7s backwards;
    }

    .container-contactanos{
        margin: auto;
        background:  #fff;
        width: 95%;
        max-width: 500px;
        max-height: 95%;
        overflow: hidden;
        padding: .5em .5em;
        border-radius: 1.5em;
        
    }
    
    .container-contactanos i{
        font-size: 25;
        color: #4fffff  !important;
        cursor: pointer;
               
    }

    .title-contactanos{
        color: #4fffff;
        font-size: 2.5rem;
        font-weight: 500;
        font-family: 'Roboto' sans-serif;
        text-align: center;
     }

       .container-form{
        background: rgba(0,0,0,.6) ;
        width: 100%;
        max-width: 800px;
        max-height: 90%;
        margin: auto;
        padding: 5px 30px;
        padding-bottom: 25px;
        border-radius: 1.5em;
    }

    .container-form .form-label{
        display: block;
        color: #ff851b;
        font-size: 14px;
        font-family: 'roboto';
        position: relative;
    }

    .container-form .form-input, .form-textarea{
        background: rgba(0,0,0,.7);
        border: none;
        outline: none;
        border-bottom: 2px solid #12acac;
        width: 95%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        font-family: roboto;
    }

    .container-form .form-textarea{
        resize: vertical;
        max-height: 180px;
        min-height: 50px;
    }

    .container-form .btn-submit{
        font-size: 1rem;
        display: flex;
        /* background: linear-gradient(90deg, #ffa100, #ff005c); */
        background: linear-gradient(90deg, #4fffff, #1b000a);
        color: white;
        transition: all 0.3s ease;
        padding: 15px 25px;
        border-radius: 1rem;
        cursor: pointer;
        margin: auto;
        margin-top: 10px;
      }

       /* Error / Success */
    .form__field.error input {
       border: 1px solid #dc3545;
       }
  
    .form__field small {
       display: flex;
       color: #fc0303;
       font-size: 0.9em ;
       font-weight: bold;
       max-width: 250px;
       text-align: center;
       padding: 2px 0;
       }
  
    .form__field.success input {
       border: 1px solid #28a745;
       }

     .container-form .contacto-email{
       display: flex;
       color:#ff851b;
       font-size: 0.9em ;
       font-weight: bold;
       max-width: 250px;
       }
  .container-form a{
      text-decoration: none;
       color:#4fffff;
       font-size: 0.9em ;
       font-weight: bold;
      }


       /* Estilos Boton WSP */

       i.fa-brands.fa-whatsapp{
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background-color: #25d366;
        color:#fff; 
        border-radius: 50px;
        text-align: center;
        font-size: 45px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        z-index: 100;
       } 
      
       i.fa-brands.fa-whatsapp:hover{
        text-decoration: none;
        color:#0df053;
        background-color: #fff;
       }
                  
        
             
    /*Estilo seccion galeria de imagenes  */
        .section-galeria {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
          
        .section-galeria h2{
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 2.5em;
            color:rgb(31, 44, 99);
            margin-top: 10px;
        }

        .section-galeria hr{
            width: 90%;
            height: 4PX;
            background-color: #535355;

        }

         /* seccion individual de cada img */
        .container-imgs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
        }
            
        .imgs {
            position: relative;
            color: #12acac;
            background-color: #fff;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 17px 2px;
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 10px;
            border-radius: 20px;
            min-width: 250px;
            height:300px;
        }
        

            .cards{
                position: relative;
                display: block;
                width: 30%;            
            }

            .img-texto {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                justify-content: center;
                box-sizing: content-box;
            }
            
            .cart-item-title {
                color: #F3F4F5;
            }
            
            .img-texto h3 {
                font-weight: 500;
                font-size: 22px;
                margin-left: 35px;
                margin-bottom: 20px;
            }
            
            .img-texto {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 20px;
                padding: 0px 20px;
            }
            
            .img-texto {
            color: #fff;  
            display: flex;
            justify-content: space-around;
             align-items: center;
             gap: 25px;
             flex-direction: row;
             margin: 5px 0;
             border-radius: 15px;
             padding: 20px 15px;
             box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
             box-sizing: content-box;
            }

            .img-texto div {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            
            .img-texto .link {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0;
                text-align: center;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: normal;
                text-transform: capitalize;
                transition: .3s;
                text-decoration: none;
            }

            .img-texto p {
                opacity: 0.4;
            }
             
            
            .cards .mensaje{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .7);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 100px !important;
                opacity: 0;
                transition: .3s;
            }
            
            .cards:hover .mensaje {
                opacity: 2;
                padding-bottom: 20px !important;
            }

        .imgs img {
            width: 100%;
            height: 95%;
            transition: transform 150ms ease-in;
        }
         


        /* Estilos Seccion Galeria Modal   */
       
        .section-modal-img{
            position: fixed;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
                             
            --opacity: 0;
            --pointer: none;
    
            opacity: var(--opacity);
            pointer-events: var(--pointer);
            transition: opacity 2.0s;
        }
    
        .section-modal-img:target{
            --opacity:1;
            --pointer: unset;
        }
        
        .section-modal-img:target .container-img-modal{
            animation: mover 1s .7s backwards;
        }
        
              
        .container-img-modal{
            margin: auto;
            background:  #fff;
            width: 90%;
            height: 70%;
            /* max-width: 800px; */
            max-height: 95%;
            overflow: hidden;
            padding: .5em .5em;
            border-radius: 1.5em;
            display: flex;
            justify-content: space-between;
                                   
        }
    
           
        .container-img-modal i{
            font-size: 25;
            color: #0c0e0e  !important;
            cursor: pointer;
                  
        }
    
          /* seccion individual de cada img modal */
              
          .cards-modal{
            position: relative;
            display: flex;
            width: 70%;       
            height: 97%;   
            margin: 5px 15px 0px 0px;
        }

        .imgs-modal {
            position: relative;
            color: #12acac;
            background-color: #fff;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 17px 2px;
            margin: 10px 20px 0px 0px ;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 5px;
            border-radius: 20px;
            min-width: 250px;
            height:95%;
        }
                  

            .img-texto-modal {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                justify-content: center;
                box-sizing: content-box;
            }
            
            .cart-item-title {
                color: #F3F4F5;
            }
            
            .img-texto-modal h3 {
                font-weight: 500;
                font-size: 22px;
                margin-left: 35px;
                margin-bottom: 20px;
            }
            
            .img-texto-modal {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 20px;
                padding: 0px 20px;
            }
            
            .img-texto-modal {
              color: #fff;  
              display: flex;
              justify-content: space-around;
             align-items: center;
             gap: 25px;
             flex-direction: row;
             width: 35%;
             height: 95%;
             margin: 5px 0;
             border-radius: 15px;
             /* padding: 20px 15px; */
             box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
             box-sizing: content-box;
            }

            .img-texto div {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            
            .img-texto-modal p {
                opacity: 0.4;
            }
             
            
            .cards-modal .mensaje{
                position: absolute;
                width: 250%;
                height: 100%;
                border-radius: 20px;
                 background: rgba(0, 0, 0, .7);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                /* padding-bottom: 100px !important; */
                opacity: 0.7;
                transition: .3s;
            }
            
            

        .imgs-modal img {
            width: 90%;
            height: 100%;
            transition: transform 150ms ease-in;
        }   
          





        /*Estilo seccion servicios */
        .section-servicios {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }

        .container-servicios {
            width: 100%;
            margin: 100px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            color: #FFFFFF;
            flex-wrap: wrap;
         }

        .section-servicios h2{
            display: flex;
            flex-wrap: wrap;
            font-family: 'Roboto', sans-serif;
            font-size: 2.5em;
            color:rgb(19, 160, 253);
            text-align: center;
         } 

         .section-servicios hr{
            width: 90%;
            height: 5PX;
            background-color: #89898b;

        }

        .infoserv{
             width: 85%;
             margin: 10px 0px;
            display: flex;
         
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 10px 10px;
            border-radius: 20px;
             min-width: 250px;
        }

        .parrafo-servicios{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5em;
        }

        
      
        .section-servicios h3{
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
             color: rgb(64, 151, 209);
             margin-top: 15px;
        }

        .infoserv img{
            width: 60%;
            transition: transform 150ms ease-in;
            margin: 20px 20px;
            min-width: 250px;
        }

       


       

        .infoserv .btn.btn-link {
            display: block;
            padding: 0;
            text-align: left;
            color: #FFFFFF;
            font-size: 15px;
            font-weight: normal;
            text-transform: capitalize;
            transition: .3s;
        }
        
        .infoserv .btn.btn-link::before {
            position: relative;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
        }
        
        .infoserv  .btn.btn-link:hover {
            color: var(--primary);
            letter-spacing: 1px;
            box-shadow: none;
        }

         .hide1{ 
         display: none;
        }
        .show1{
            display: block;
        }

        .hide2{ 
            display: none;
           }
           .show2{
               display: block;
           }

        .hide3{ 
            display: none;
        }
        .show3{
            display: block;
        }
           
        /*Estilo seccion clientes*/

        .section-clientes{  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 400px;
            margin-top: 0px;
            margin-bottom: 20px;

         }

        .section-clientes h3{
             font-family:'Roboto', sans-serif;
            font-size: 2.5em;
            color:rgb(64, 151, 209);
            margin-top: 30px;
            margin-bottom: 0px;
            text-align: center;   
                
         }

         .section-clientes hr{
            width: 90%;
            height: 5PX;
            background-color: #89898b;
            margin-top: 0px;
        }

        .grilla{  
            display: grid;
            grid-template-columns: 5;
            grid-template-rows: 3;
            row-gap: 20px;
            column-gap: 10px;
            align-items: center;
            justify-content: center;
            width:100%;
         }

         .clientes1 {
            grid-column: 1/2;
            grid-row: 2/2;
          }

         .clientes2 {
            grid-column: 2/3;
            grid-row: 2/2;
          }

         .clientes3 {
            grid-column: 3/4;
            grid-row: 2/2;
        }

         .clientes4 {
            grid-column: 4/5;
            grid-row: 2/2;
        }

        .clientes5 {
            grid-column: 1/2;
            grid-row: 3/3;
          }

          .clientes6 {
            grid-column:2/3 ;
            grid-row: 3/3;
          }

         .clientes7 {
            grid-column: 3/4;
            grid-row: 3/3;
        }

        
        .clientes8 {
            grid-column: 4/5;
            grid-row: 3/3;
        }

                 
       
        .section-clientes img {
            background-color: rgb(247, 247, 193);
            width: 90%;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 17px 2px;
            margin: 5px ;
            padding: 5px;
            border-radius: 20px;
            transition: transform 150ms ease-in;
            max-width: 100px;          
           
        }

     /* Estilos Seccion Footer */
     .footer {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
        box-shadow: 0 0 15px 0 white;
        width: 100%;
        margin-top: 0px;
        padding: 1em;
    }
    
    .footer .btn.btn-social {
        margin-right: 5px;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light);
        border: 1px solid #FFFFFF;
        transition: .3s;
    }
    
    .footer .btn.btn-social:hover {
        color: var(--primary);
    }
    
    .footer .btn.btn-link {
        display: block;
        padding: 0;
        text-align: left;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        transition: .3s;
    }
    
    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }
    
    .footer .btn.btn-link:hover {
        color: var(--primary);
        letter-spacing: 1px;
        box-shadow: none;
    }
    
    .footer .copyright {
        padding: 10px 0;
        font-size: 15px;
        border-top: 1px solid rgba(256, 256, 256, .1);
    }
    
     .footer .copyright a {
        color: var(--light); 
    } 
    
    .footer .copyright a:hover {
        color: var(--primary);
    }

.footer .aldesing {
        padding: 0px 60px 0 0;
        font-size: 14px;
        text-align: right;
        margin-bottom: 0px;
    }
    
     .footer .aldesing a {
        color: var(--light); 
    } 
    
    .footer .desing a:hover {
        color: var(--primary);
    }